.shp-icon {
    width: 100%;
}

#Red {
    background-color: #E63634;
}

#Blue {
    background-color: #3D62AE;
}

#Green {
    background-color: #79C47E;
}

#Yellow {
    background-color: #F4EB23;
}

.rotate-menu-item {

}

.border-circle {
    border:black 2px solid;
    border-radius: 100%;
    text-align: center;
    vertical-align: middle;
    line-height: 75px;
}